@import url(../courses.css);

.course-card .btn-primary.btn-copy {
    margin-top: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-color: transparent;
}