@import url(../courses.css);

.course-card .btn-primary {
    margin-top: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-card .btn-copy {
    cursor: pointer;
}